section {
  padding: 30px;
  border: 2px solid;
  margin: 20px;
}

#ej11 {
  background-color: violet;
}

.bg-primary {
  background-color: tomato;
}

ul li[data-categoria="fruta"] {
  border-width: 10px;
  border-color: darkorchid;
  color: darkorchid;
}

.vehicle[data-brand="Ford"] {
  background-color: darkslateblue;
  color: white;
}
