/* transition-property
transition-duration
transition-timing-function
transition-delay
transition */

#heart {
  position: relative;
  width: 100px;
  height: 90px;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.box {
  background-color: tomato;
  width: 200px;
  height: 200px;
  transition: border-radius ease-out 4000ms 1000ms;
  position: absolute;
  top: 0;
  right: 0;
}

.box:hover {
  background-color: yellowgreen;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  top: 100px;
  right: 100px;
}

.box2 {
  background-color: indigo;
  width: 200px;
  height: 200px;
  transition: all ease-out 2000ms;
}

.box2:hover {
  transform: /* rotate(45deg) */ translateY(100px) scale(1.5) skew(5deg, 10deg);
}

.icon-test {
  font-size: 40px;
  color: blueviolet;
}
