*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * Fuentes
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Ubuntu:wght@300;400;700&display=swap");

/**
  * Layout
  */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}


a,
a:hover {
  text-decoration: none;
}

.container {
  width: 920px;
  margin: auto;
}

.main {
  background-color: darkcyan;
}

/**
 * Overrides
 * Acá creo una sección para pisar todos los estilos de un
 * Framework CSS en el caso de que lo estuviese utilizando. 
 */
.btn {
  padding: 5px;
  border: 0;
}

.btn {
  border: 2px solid red;
}

/**
 * Textos
 */

/**
 * Fondos
 */

/**
 * Formularios
 */

/**
  * Tablas
  */

/**
 * Primary Nav
 */
.primary-nav {
  background-color: #EEE;
  padding: 20px 0;
}

.primary-nav .navbar {
  margin: 0;
  padding: 0;
}

.primary-nav .navbar li {
  list-style: none;
  display: inline-block;
}

.primary-nav .navbar li a {
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px;
}

/**
 * Login Page
 */
#login .btn {
  border: 1px solid #ccc;
}

/**
 * Contact
 */
#contact .btn {
  border: 5px solid red;
}
