/**
 * Fuentes
 */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
a:hover {
  text-decoration: none;
}

.container {
  width: 1400px;
  margin: auto;
}

@media (max-width: 1440px) {
  .container {
    width: 1200px;
    margin: auto;
  }
}

@media (max-width: 1240px) {
  .container {
    width: 920px;
    margin: auto;
  }
}

@media (max-width: 960px) {
  .container {
    width: 680px;
    margin: auto;
  }
}

@media (max-width: 720px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/**
 * Backgrounds
 */
.bg-primary {
  background-color: #be3969;
}
.bg-dark {
  background-color: #333;
  color: white;
}
.bg-light {
  background-color: #eee;
}

/**
 *  Buttons
 */
.btn {
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
}
.btn-small {
  font-size: 11px;
}
.btn-primary {
  background-color: #be3969;
  color: #fff;
}
.btn-primary:hover {
  background-color: #ca4e7c;
}

/**
 * Form controls
 */
.form-ctrl {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.form-ctrl-small {
}

.form-ctrl,
.btn {
  font-size: 13px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}
.form-ctrl-small,
.btn-small {
  height: 30px;
}

/**
 * Primary nav
 */
#primary-nav {
}
#primary-nav .navbar {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 30px;
}
#primary-nav .navbar .nav-item {
  list-style: none;
}
#primary-nav .navbar .nav-item .nav-link {
  display: inline-flex;
  color: white;
  padding: 15px 25px;
}

/**
 * Logo
 */
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}

/**
 * Columns
 */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 25%;
  padding: 10px;
}

@media (max-width: 1240px) {
  .column {
    width: 33.3333%;
  }
}

@media (max-width: 960px) {
  .column {
    width: 50%;
  }
}

@media (max-width: 720px) {
  .column {
    width: 100%;
  }
}

/**
* Card component
*/
.card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.card:hover {
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.card .card-image,
.card .card-info {
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
}

.card .card-info p {
  text-transform: none;
}

.card .card-image img {
  width: 200px;
  max-width: 100%;
}

/**
* Tags components
*/
.tag {
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid #fff;
  display: inline-block;
  margin: 3px;
}

.tag.tag-primary {
  border-color: #be3969;
}

.price em {
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
}

/**
 *
 */
#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#top .login .form-ctrl:not(:first-child),
#top .login .btn:not(:first-child) {
  margin-left: 15px;
}

#top .toggle-mobile {
  display: none;
}

@media (max-width: 960px) {
  #top .login {
    display: none;
  }
  #top .toggle-mobile {
    background-color: transparent;
    border: none;
    display: block;
  }
}

/**
 * Posts 
 */
#posts {
  padding: 30px 0;
}

/**
 * New Posts 
 */
#new-posts {
  padding: 30px 0;
}
#new-posts .container {
  overflow-x: auto;
}
#new-posts .columns {
  flex-wrap: nowrap;
}
#new-posts .column {
  width: auto;
}

#new-posts .card {
  width: 300px;
}

/* 
Ejemplo de media query

.elem {
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px) {
    .elem {
        flex-direction: row;
    }
} */
