.table {
  width: 100%;
}

.table tr:nth-child(odd) {
  background-color: #eee;
}

.table td {
  border: 1px solid #ccc;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 50vw;
  height: 200px;
  overflow: auto;
}
