*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}


.container {
    width: 1400px;
    margin: auto;
}

.column {
    width: 33.333333%;
    display: inline-block;
    padding: 5px;
}


/* por debajo de 1400px */
@media(max-width: 1400px) {

    .container {
        width: 1200px
    }

}

/* por debajo de 1200px */
@media(max-width: 1200px) {

    .container {
        width: 900px
    }

}


/* por debajo de 900px */
@media(max-width: 900px) {

    .container {
        width: 100%
    }

    .column {
        width: 100%;
        display: block;
    }
    

}

.box {
    height: 200px;
    background-color: red;
}

@media(min-width: 800px) and (max-width: 1000px) {
    .box {
        background-color: blue;
        
    }
}

/**
 * Primary Nav
 */
.nav-desk { display: none; }
.nav-mobile { display: block; }

@media(min-width: 768px) {
    .nav-desk { display: block; }
    .nav-mobile { display: none; }

}


.primary-nav {
    background-color: #EEE;
    padding: 20px 0;
}

.primary-nav .navbar {
    margin: 0;
    padding: 0;
}

.primary-nav .navbar li {
    list-style: none;
    display: inline-block;
}

.primary-nav .navbar li a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px;
}