*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flex-wrapper {
  background-color: burlywood;
  display: flex;
}

.flex-wrapper .item {
  height: 50px;
  border: 2px solid;
  margin: 5px;
  width: 300px;
  flex-grow: 1;
}

.flex-wrapper .item.a {
  flex-grow: 3;
  order: -4;
}

.flex-wrapper .item.b {
  order: 0;
}
.flex-wrapper .item.c {
  order: 4;
}
.flex-wrapper .item.d {
  order: -1;
}

.flex-wrapper2 {
  width: 800px;
  display: flex;
}

.flex-wrapper2 .item {
  width: 100px;
}

.flex-wrapper2 .item {
  border: 2px solid;
  flex-shrink: 1;
}

.flex-wrapper2 .item.g {
  flex-shrink: 4;
}

.flex-wrapper3 {
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.flex-wrapper3 .item {
  border: 2px solid white;
}

.flex-wrapper3 .item.a {
}
